




#popup_container {
    position: relative;
    text-align: center;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
}

#popup {
    position: fixed;
    top: 15%;
    left: 50%;
    transform: translate(-50%, 5%);
    background-color: white;
    border: orange 2vmin outset;
    z-index: 2;
    padding: 2.5%
}

#blur {
    width: 100vmax;
    height: 100vmax;
    z-index: 1;
    filter: blur(3px);
    position: fixed;
}

#login_form {
    color: darkorange;
}

button {
    font-size: large;
    font-weight: bold;
    padding: 2.5%;
    border: orange outset 1vmin;
}
button:active {
    border: orange inset 1vmin;
}

input {
    margin: 5px;
}

#bio {
    width: 50%;
    height: 5vh;
}

